.assets
.env
.env.*
!.env.example
*.pyc
dist/
build/
*.egg-info/
*.egg
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pyzz
.venv/
venv/
vendor/*.whl
!vendor/README.md
__pycache__/
poetry.lock
.pytest_cache/
botpy.log
tests/e2e/results/
